{% extends 'base.html.twig' %}

{% block body %}

<div>
    <h1>Best Sellers from Repository</h1>
    <ul>
        {% for book in bestSellers %}
            <li>{{ book.id }} - {{ book.rating }}/10</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
